 @import "tailwindcss";


 /* *{
  margin:auto;
  padding:0;
  box-sizing: border-box;
 } */


body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* background-color: #f5f0f0; */
  overflow-x: hidden;
}

::webkit-scrollbar {
  width: 8px; /* Scrollbar ki width */
}

::webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar ka color */
  border-radius: 10px; /* Scrollbar ko gol karne ke liye */
}

::webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover par scrollbar ka color */
}

.container {
  @apply mx-auto;
  max-width: 100%;
  padding-left:10px;
  padding-right:10px;
 
}

.swiper-button-prev,.swiper-button-next{
  color:#000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(253, 208, 110);
  border-radius: 100%;
  width: 40px;
  height: 28px !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.swiper-button-prev::after,.swiper-button-next::after{
  content: '';
  display: block;
  font-size: 15px !important;
  color: #080808 !important;
  font-weight: bold !important;
  padding: 10px;
}


/* Pagination container ko neeche shift karo */
.catgory-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 12px; /* text aur bullets ke beech ka gap */
  text-align: center;
}

/* Default bullet style */
.catgory-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #d1d5db; /* Tailwind gray-300 */
  opacity: 1;
  margin: 0 4px !important; /* bullets ke beech space */
  border-radius: 9999px; /* full round */
}

/* Active bullet style */
.catgory-swiper .swiper-pagination-bullet-active {
  background-color: #eb6e25; /* Tailwind blue-600 */
}




/* product css */
.css-1usuzwp-MuiButtonBase-root-MuiTab-root{
  text-transform: capitalize !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #504e4e !important;
}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: #eb6e25 !important;
  font-weight: 300 !important;
}


.css-1qltlow-MuiTabs-indicator{
  background-color: #eb6e25 !important;
  height: 2px !important;
  border-radius: 10px !important;
}

.MuiFormControlLabel-label{
  font-size: 12px !important;
  color: #504e4e !important;
}


/* Banner Slider second */
.homesliderAdd .swiper-pagination-bullet{
  background-color: #eb6e25; /* Tailwind blue-600 */
}

